JobSeekerWSClient/web/WEB-INF/wsdl/JobSeekerManager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://jobSeekerServices.me.org/" name="JobSeekerManager" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://jobSeekerServices.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jobSeekerServices.me.org/" schemaLocation="JobSeekerManager_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="offerPosition">
    <part name="parameters" element="tns:offerPosition"/>
  </message>
  <message name="offerPositionResponse">
    <part name="parameters" element="tns:offerPositionResponse"/>
  </message>
  <message name="getExpiredCredentials">
    <part name="parameters" element="tns:getExpiredCredentials"/>
  </message>
  <message name="getExpiredCredentialsResponse">
    <part name="parameters" element="tns:getExpiredCredentialsResponse"/>
  </message>
  <message name="getMissingSkills">
    <part name="parameters" element="tns:getMissingSkills"/>
  </message>
  <message name="getMissingSkillsResponse">
    <part name="parameters" element="tns:getMissingSkillsResponse"/>
  </message>
  <message name="findVetWithSkills">
    <part name="parameters" element="tns:findVetWithSkills"/>
  </message>
  <message name="findVetWithSkillsResponse">
    <part name="parameters" element="tns:findVetWithSkillsResponse"/>
  </message>
  <message name="applyToJob">
    <part name="parameters" element="tns:applyToJob"/>
  </message>
  <message name="applyToJobResponse">
    <part name="parameters" element="tns:applyToJobResponse"/>
  </message>
  <message name="checkPositionApplicants">
    <part name="parameters" element="tns:checkPositionApplicants"/>
  </message>
  <message name="checkPositionApplicantsResponse">
    <part name="parameters" element="tns:checkPositionApplicantsResponse"/>
  </message>
  <message name="getValidCredentials">
    <part name="parameters" element="tns:getValidCredentials"/>
  </message>
  <message name="getValidCredentialsResponse">
    <part name="parameters" element="tns:getValidCredentialsResponse"/>
  </message>
  <portType name="JobSeekerManager">
    <operation name="offerPosition">
      <input wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/offerPositionRequest" message="tns:offerPosition"/>
      <output wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/offerPositionResponse" message="tns:offerPositionResponse"/>
    </operation>
    <operation name="getExpiredCredentials">
      <input wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/getExpiredCredentialsRequest" message="tns:getExpiredCredentials"/>
      <output wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/getExpiredCredentialsResponse" message="tns:getExpiredCredentialsResponse"/>
    </operation>
    <operation name="getMissingSkills">
      <input wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/getMissingSkillsRequest" message="tns:getMissingSkills"/>
      <output wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/getMissingSkillsResponse" message="tns:getMissingSkillsResponse"/>
    </operation>
    <operation name="findVetWithSkills">
      <input wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/findVetWithSkillsRequest" message="tns:findVetWithSkills"/>
      <output wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/findVetWithSkillsResponse" message="tns:findVetWithSkillsResponse"/>
    </operation>
    <operation name="applyToJob">
      <input wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/applyToJobRequest" message="tns:applyToJob"/>
      <output wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/applyToJobResponse" message="tns:applyToJobResponse"/>
    </operation>
    <operation name="checkPositionApplicants">
      <input wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/checkPositionApplicantsRequest" message="tns:checkPositionApplicants"/>
      <output wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/checkPositionApplicantsResponse" message="tns:checkPositionApplicantsResponse"/>
    </operation>
    <operation name="getValidCredentials">
      <input wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/getValidCredentialsRequest" message="tns:getValidCredentials"/>
      <output wsam:Action="http://jobSeekerServices.me.org/JobSeekerManager/getValidCredentialsResponse" message="tns:getValidCredentialsResponse"/>
    </operation>
  </portType>
  <binding name="JobSeekerManagerPortBinding" type="tns:JobSeekerManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="offerPosition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getExpiredCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMissingSkills">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findVetWithSkills">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="applyToJob">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkPositionApplicants">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getValidCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JobSeekerManager">
    <port name="JobSeekerManagerPort" binding="tns:JobSeekerManagerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

