JobSeekerWSClient/src/conf/xml-resources/web-service-references/MilitaryTranslation/wsdl/137.30.123.173_8080/JobSeekerWS/MilitaryTranslation.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://translation.me.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MilitaryTranslation" targetNamespace="http://translation.me.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://translation.me.org/" elementFormDefault="unqualified" targetNamespace="http://translation.me.org/" version="1.0">

  <xs:element name="getMilitarySkillCivilianTranslation" type="tns:getMilitarySkillCivilianTranslation"/>

  <xs:element name="getMilitarySkillCivilianTranslationResponse" type="tns:getMilitarySkillCivilianTranslationResponse"/>

  <xs:complexType name="getMilitarySkillCivilianTranslation">
    <xs:sequence>
      <xs:element minOccurs="0" name="user_mos" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMilitarySkillCivilianTranslationResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:knowledgeSkill"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="knowledgeSkill">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="ksCode" type="xs:string"/>
      <xs:element minOccurs="0" name="level" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="positions" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMilitarySkillCivilianTranslation">
    <wsdl:part element="tns:getMilitarySkillCivilianTranslation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMilitarySkillCivilianTranslationResponse">
    <wsdl:part element="tns:getMilitarySkillCivilianTranslationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MilitaryTranslation">
    <wsdl:operation name="getMilitarySkillCivilianTranslation">
      <wsdl:input message="tns:getMilitarySkillCivilianTranslation" name="getMilitarySkillCivilianTranslation">
    </wsdl:input>
      <wsdl:output message="tns:getMilitarySkillCivilianTranslationResponse" name="getMilitarySkillCivilianTranslationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MilitaryTranslationSoapBinding" type="tns:MilitaryTranslation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMilitarySkillCivilianTranslation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMilitarySkillCivilianTranslation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMilitarySkillCivilianTranslationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MilitaryTranslation">
    <wsdl:port binding="tns:MilitaryTranslationSoapBinding" name="MilitaryTranslationPort">
      <soap:address location="http://137.30.123.173:8080/JobSeekerWS/MilitaryTranslation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>